<h1 class="flex justify-center text-4xl mb-8">Create Flashcard:</h1>
<div class=""><%= render 'shared/errors', model: @flashcard %></div>
<%= render 'shared/flash' %>
<%= render 'shared/flashcard_form' %>
