<% if current_user.decks.present? %>
  <div class="divide-y-2 divide-gray-800 ">
    <% @decks.each do |deck| %>
      <div class=" mb-2 py-2 flex justify-between items-center">

        <div class="">
          <%= link_to deck.name, deck_path(deck) %>
          <%= link_to "Review", review_and_reset_path(deck), class: "w-20 flex items-center justify-center rounded-md p-2 text-slate-400 bg-color-primary hover:bg-color-secondary mt-2" %></div>

        <%# daisyui dropdown %>
        <div class="dropdown dropdown-bottom">
          <label tabindex="0" class="btn m-1 bg-color-primary hover:bg-color-secondary">Actions</label>
          <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-gray-800 rounded-box w-52">
            <li><%= link_to "Edit name", edit_deck_path(deck), class: "text-gray-300 hover:text-gray-200" %></li>
            <li><%= button_to "Delete", deck_path(deck), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "text-gray-300 hover:text-gray-200" %></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

