<header class="my-4 flex justify-between mx-72">

<%#logo%>
<div class="">
  <%= link_to "Flashcard App", root_path, class: "text-xl" %>
  <img src="" alt="">
</div>

<%#sign-up%>
<nav>
  <a href="#" class=" text-gray-400 hover:text-gray-300 mr-1">Log in</a>
  <a href="#" class="rounded-md p-2 text-slate-400 bg-indigo-700 hover:bg-indigo-800">Sign up</a>
</nav>

</header>
<div class="border-b border-slate-700 mb-4"></div>